
@{
    ViewBag.Title = "RegistrationCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	ViewBag.Title = "Registration Completed";
}


<div class="jumbotron">
	<p>Thank you for your registration 謝謝您報名台工會2014年會活動.</p>
	<p>See you at the event!</p>
	<br />
	<a href="javascript:window.close();">[CLOSE]</a>
</div>


