@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>NATEA-Dallas Chapter北美台灣工程師協會達拉斯分會</h2>
    <h3>2014 Annual Conference Registration Form</h3>
    <h3>2014年年會報名表</h3>
    <div>
        <div style="width: 45%; float:left; height: 100%">
            <h4>Date: <strong>11/15/2014 Saturday 星期六</strong></h4>
            <h4>Time: <strong>2:00pm to 9:00pm 下午二點至七點</strong></h4>
            <h4>Location 地點: <strong>Crown Plaza North Dallas/Addison</strong><span><address>14315 Midway Road, Addison, TX 750001</address></span></h4>
        </div>
        <div style="width: 55%; float:right; margin: -80px -50px 0 0">            
            <iframe width="500" height="250" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=32.944935~-96.839707&lvl=16&w=500&h=400&sty=r&typ=d&pp=&ps=&dir=0&mkt=en-us&src=SHELL&form=BMEMJS"></iframe><div style="margin: 0;"><a target="_blank" href="http://www.bing.com/maps/?cp=32.944935~-96.839707&sty=r&lvl=16&sp=&mm_embed=map">View Larger Map</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=32.944935~-96.839707&sty=r&lvl=16&rtp=~pos.32.944935_-96.839707____&mm_embed=dir">Get Directions</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=pgqr666xx0ns&sty=b&lvl=18&sp=&mm_embed=be">View Bird's Eye</a></div>
        </div>
    </div>  
    <p><a href="/Attendees/Create" class="btn btn-primary btn-lg">Register! 我要報名 &rsaquo;&rsaquo;</a></p>
    @*<p><a href="/Attendees">See the registered list</a></p>*@
</div>
