@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>NATEA-Dallas Chapter北美台灣工程師協會達拉斯分會</h2>
    <h3>Annual Conference 2014 Registration Form</h3>
    <h3>2014年年會報名表</h3>
    <p>
        <h4>Date: <strong>11/15/2014 Saturday 星期六</strong></h4>
        <h4>Time: <strong>2:00pm to 9:00pm 下午二點至七點</strong></h4>
        <h4>Venue地點: <strong>Crown Plaza North Dallas/Addison</strong></h4>
        <address>14315 Midway Road, Addison, TX 750001</address>
    </p>
    <p><a href="/Attendees/Create" class="btn btn-primary btn-lg">Register! 我要報名 &rsaquo;&rsaquo;</a></p>
    <p><a href="/Attendees">See the registered list</a></p>
</div>
