@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>NATEA-Dallas Chapter北美台灣工程師協會達拉斯分會</h2>
    <h3>Annual Conference 2014 Registration Form</h3>
    <h3>2014年年會報名表</h3>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>