<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nateadallasregistration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nateadallasregistration.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NATEADallasRegistration</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NATEADallasRegistration</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RegistrationContext" Order="1" Enabled="False">
          <Destination Path="Data Source=lrq5vrye88.database.windows.net,1433;Initial Catalog=NATEADallasRegistration_db;User ID=webuser@lrq5vrye88;Password=B*53#pvA" Name="Server=lrq5vrye88.database.windows.net,1433;Database=NATEADallasRegistration_db;User Id=webuser@lrq5vrye88;Password=B*53#pvA" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Registration.Models.RegistrationContext, Registration" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RegistrationContext-Web.config Connection String">
      <ParameterValue>Server=lrq5vrye88.database.windows.net,1433;Database=NATEADallasRegistration_db;User Id=webuser@lrq5vrye88;Password=B*53#pvA</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>